body{
margin:0;
background:#0f2027;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}
.card{
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
width:300px;
text-align:center;
}
input,button{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:8px;
}
button{
background:#1e90ff;
color:white;
}
ul{padding:0;}
li{list-style:none;margin-top:5px;background:rgba(255,255,255,0.2);padding:5px;border-radius:5px;}
